<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-11-09T10:09:23Z</date>
	<key>WorkspacePath</key>
	<string>/Users/chenshuang/Desktop/TestDemo/2019:08/AnimationIO_12/AnimationIO_12.xcodeproj</string>
</dict>
</plist>
